@font-face {
  font-family: "TT Commons";
  src: url("../fonts/TTCommons-LightItalic.eot");
  src: local("TT Commons Light Italic"), local("TTCommons-LightItalic"), url("../fonts/TTCommons-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/TTCommons-LightItalic.woff2") format("woff2"), url("../fonts/TTCommons-LightItalic.woff") format("woff"), url("../fonts/TTCommons-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("../fonts/TTCommons-Black.eot");
  src: local("TT Commons Black"), local("TTCommons-Black"), url("../fonts/TTCommons-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/TTCommons-Black.woff2") format("woff2"), url("../fonts/TTCommons-Black.woff") format("woff"), url("../fonts/TTCommons-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("../fonts/TTCommons-Bold.eot");
  src: local("TT Commons Bold"), local("TTCommons-Bold"), url("../fonts/TTCommons-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTCommons-Bold.woff2") format("woff2"), url("../fonts/TTCommons-Bold.woff") format("woff"), url("../fonts/TTCommons-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("../fonts/TTCommons-DemiBoldItalic.eot");
  src: local("TT Commons DemiBold Italic"), local("TTCommons-DemiBoldItalic"), url("../fonts/TTCommons-DemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/TTCommons-DemiBoldItalic.woff2") format("woff2"), url("../fonts/TTCommons-DemiBoldItalic.woff") format("woff"), url("../fonts/TTCommons-DemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("../fonts/TTCommons-BoldItalic.eot");
  src: local("TT Commons Bold Italic"), local("TTCommons-BoldItalic"), url("../fonts/TTCommons-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/TTCommons-BoldItalic.woff2") format("woff2"), url("../fonts/TTCommons-BoldItalic.woff") format("woff"), url("../fonts/TTCommons-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("../fonts/TTCommons-Regular.eot");
  src: local("TT Commons Regular"), local("TTCommons-Regular"), url("../fonts/TTCommons-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TTCommons-Regular.woff2") format("woff2"), url("../fonts/TTCommons-Regular.woff") format("woff"), url("../fonts/TTCommons-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("../fonts/TTCommons-ExtraBold.eot");
  src: local("TT Commons ExtraBold"), local("TTCommons-ExtraBold"), url("../fonts/TTCommons-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTCommons-ExtraBold.woff2") format("woff2"), url("../fonts/TTCommons-ExtraBold.woff") format("woff"), url("../fonts/TTCommons-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("../fonts/TTCommons-Italic.eot");
  src: local("TT Commons Italic"), local("TTCommons-Italic"), url("../fonts/TTCommons-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/TTCommons-Italic.woff2") format("woff2"), url("../fonts/TTCommons-Italic.woff") format("woff"), url("../fonts/TTCommons-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("../fonts/TTCommons-ExtraLight.eot");
  src: local("TT Commons ExtraLight"), local("TTCommons-ExtraLight"), url("../fonts/TTCommons-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/TTCommons-ExtraLight.woff2") format("woff2"), url("../fonts/TTCommons-ExtraLight.woff") format("woff"), url("../fonts/TTCommons-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("../fonts/TTCommons-MediumItalic.eot");
  src: local("TT Commons Medium Italic"), local("TTCommons-MediumItalic"), url("../fonts/TTCommons-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/TTCommons-MediumItalic.woff2") format("woff2"), url("../fonts/TTCommons-MediumItalic.woff") format("woff"), url("../fonts/TTCommons-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("../fonts/TTCommons-Thin.eot");
  src: local("TT Commons Thin"), local("TTCommons-Thin"), url("../fonts/TTCommons-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/TTCommons-Thin.woff2") format("woff2"), url("../fonts/TTCommons-Thin.woff") format("woff"), url("../fonts/TTCommons-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("../fonts/TTCommons-ExtraLightItalic.eot");
  src: local("TT Commons ExtraLight Italic"), local("TTCommons-ExtraLightItalic"), url("../fonts/TTCommons-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/TTCommons-ExtraLightItalic.woff2") format("woff2"), url("../fonts/TTCommons-ExtraLightItalic.woff") format("woff"), url("../fonts/TTCommons-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("../fonts/TTCommons-ExtraBoldItalic.eot");
  src: local("TT Commons ExtraBold Italic"), local("TTCommons-ExtraBoldItalic"), url("../fonts/TTCommons-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/TTCommons-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/TTCommons-ExtraBoldItalic.woff") format("woff"), url("../fonts/TTCommons-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("../fonts/TTCommons-Medium.eot");
  src: local("TT Commons Medium"), local("TTCommons-Medium"), url("../fonts/TTCommons-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/TTCommons-Medium.woff2") format("woff2"), url("../fonts/TTCommons-Medium.woff") format("woff"), url("../fonts/TTCommons-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("../fonts/TTCommons-BlackItalic.eot");
  src: local("TT Commons Black Italic"), local("TTCommons-BlackItalic"), url("../fonts/TTCommons-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/TTCommons-BlackItalic.woff2") format("woff2"), url("../fonts/TTCommons-BlackItalic.woff") format("woff"), url("../fonts/TTCommons-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "TT Commons";
  src: url("../fonts/TTCommons-Light.eot");
  src: local("TT Commons Light"), local("TTCommons-Light"), url("../fonts/TTCommons-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/TTCommons-Light.woff2") format("woff2"), url("../fonts/TTCommons-Light.woff") format("woff"), url("../fonts/TTCommons-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("../fonts/TTCommons-DemiBold.eot");
  src: local("TT Commons DemiBold"), local("TTCommons-DemiBold"), url("../fonts/TTCommons-DemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTCommons-DemiBold.woff2") format("woff2"), url("../fonts/TTCommons-DemiBold.woff") format("woff"), url("../fonts/TTCommons-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Commons";
  src: url("../fonts/TTCommons-ThinItalic.eot");
  src: local("TT Commons Thin Italic"), local("TTCommons-ThinItalic"), url("../fonts/TTCommons-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/TTCommons-ThinItalic.woff2") format("woff2"), url("../fonts/TTCommons-ThinItalic.woff") format("woff"), url("../fonts/TTCommons-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Pragmatica Cond";
  src: url("../fonts/PragmaticaCond-LightOblique.eot");
  src: local("Pragmatica Cond Light Oblique"), local("PragmaticaCond-LightOblique"), url("../fonts/PragmaticaCond-LightOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaCond-LightOblique.woff2") format("woff2"), url("../fonts/PragmaticaCond-LightOblique.woff") format("woff"), url("../fonts/PragmaticaCond-LightOblique.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Pragmatica Extended";
  src: url("../fonts/PragmaticaExtended-BookOblique.eot");
  src: local("Pragmatica Extended Book Oblique"), local("PragmaticaExtended-BookOblique"), url("../fonts/PragmaticaExtended-BookOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaExtended-BookOblique.woff2") format("woff2"), url("../fonts/PragmaticaExtended-BookOblique.woff") format("woff"), url("../fonts/PragmaticaExtended-BookOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Pragmatica Shadow";
  src: url("../fonts/PragmaticaShadow-Oblique.eot");
  src: local("Pragmatica Shadow Oblique"), local("PragmaticaShadow-Oblique"), url("../fonts/PragmaticaShadow-Oblique.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaShadow-Oblique.woff2") format("woff2"), url("../fonts/PragmaticaShadow-Oblique.woff") format("woff"), url("../fonts/PragmaticaShadow-Oblique.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Pragmatica Cond";
  src: url("../fonts/PragmaticaCond-ExtraLightObliqu.eot");
  src: local("Pragmatica Cond ExtraLight Oblique"), local("PragmaticaCond-ExtraLightObliqu"), url("../fonts/PragmaticaCond-ExtraLightObliqu.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaCond-ExtraLightObliqu.woff2") format("woff2"), url("../fonts/PragmaticaCond-ExtraLightObliqu.woff") format("woff"), url("../fonts/PragmaticaCond-ExtraLightObliqu.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Pragmatica";
  src: url("../fonts/Pragmatica-ExtraLightOblique.eot");
  src: local("Pragmatica ExtraLight Oblique"), local("Pragmatica-ExtraLightOblique"), url("../fonts/Pragmatica-ExtraLightOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/Pragmatica-ExtraLightOblique.woff2") format("woff2"), url("../fonts/Pragmatica-ExtraLightOblique.woff") format("woff"), url("../fonts/Pragmatica-ExtraLightOblique.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Pragmatica Cond";
  src: url("../fonts/PragmaticaCond-Book.eot");
  src: local("Pragmatica Cond Book"), local("PragmaticaCond-Book"), url("../fonts/PragmaticaCond-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaCond-Book.woff2") format("woff2"), url("../fonts/PragmaticaCond-Book.woff") format("woff"), url("../fonts/PragmaticaCond-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica Extended";
  src: url("../fonts/PragmaticaExtended-Light.eot");
  src: local("Pragmatica Extended Light"), local("PragmaticaExtended-Light"), url("../fonts/PragmaticaExtended-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaExtended-Light.woff2") format("woff2"), url("../fonts/PragmaticaExtended-Light.woff") format("woff"), url("../fonts/PragmaticaExtended-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica";
  src: url("../fonts/Pragmatica-ExtraBoldOblique.eot");
  src: local("Pragmatica ExtraBold Oblique"), local("Pragmatica-ExtraBoldOblique"), url("../fonts/Pragmatica-ExtraBoldOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/Pragmatica-ExtraBoldOblique.woff2") format("woff2"), url("../fonts/Pragmatica-ExtraBoldOblique.woff") format("woff"), url("../fonts/Pragmatica-ExtraBoldOblique.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Pragmatica Extended";
  src: url("../fonts/PragmaticaExtended-Medium.eot");
  src: local("Pragmatica Extended Medium"), local("PragmaticaExtended-Medium"), url("../fonts/PragmaticaExtended-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaExtended-Medium.woff2") format("woff2"), url("../fonts/PragmaticaExtended-Medium.woff") format("woff"), url("../fonts/PragmaticaExtended-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica Extended";
  src: url("../fonts/PragmaticaExtended-BlackOblique.eot");
  src: local("Pragmatica Extended Black Oblique"), local("PragmaticaExtended-BlackOblique"), url("../fonts/PragmaticaExtended-BlackOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaExtended-BlackOblique.woff2") format("woff2"), url("../fonts/PragmaticaExtended-BlackOblique.woff") format("woff"), url("../fonts/PragmaticaExtended-BlackOblique.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Pragmatica Extended";
  src: url("../fonts/PragmaticaExtended-Book.eot");
  src: local("Pragmatica Extended Book"), local("PragmaticaExtended-Book"), url("../fonts/PragmaticaExtended-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaExtended-Book.woff2") format("woff2"), url("../fonts/PragmaticaExtended-Book.woff") format("woff"), url("../fonts/PragmaticaExtended-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica Extended";
  src: url("../fonts/PragmaticaExtended-Black.eot");
  src: local("Pragmatica Extended Black"), local("PragmaticaExtended-Black"), url("../fonts/PragmaticaExtended-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaExtended-Black.woff2") format("woff2"), url("../fonts/PragmaticaExtended-Black.woff") format("woff"), url("../fonts/PragmaticaExtended-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica Extended";
  src: url("../fonts/PragmaticaExtended-BoldOblique.eot");
  src: local("Pragmatica Extended Bold Oblique"), local("PragmaticaExtended-BoldOblique"), url("../fonts/PragmaticaExtended-BoldOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaExtended-BoldOblique.woff2") format("woff2"), url("../fonts/PragmaticaExtended-BoldOblique.woff") format("woff"), url("../fonts/PragmaticaExtended-BoldOblique.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Pragmatica Cond";
  src: url("../fonts/PragmaticaCond-Medium.eot");
  src: local("Pragmatica Cond Medium"), local("PragmaticaCond-Medium"), url("../fonts/PragmaticaCond-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaCond-Medium.woff2") format("woff2"), url("../fonts/PragmaticaCond-Medium.woff") format("woff"), url("../fonts/PragmaticaCond-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica Extended";
  src: url("../fonts/PragmaticaExtended-LightOblique.eot");
  src: local("Pragmatica Extended Light Oblique"), local("PragmaticaExtended-LightOblique"), url("../fonts/PragmaticaExtended-LightOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaExtended-LightOblique.woff2") format("woff2"), url("../fonts/PragmaticaExtended-LightOblique.woff") format("woff"), url("../fonts/PragmaticaExtended-LightOblique.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Pragmatica";
  src: url("../fonts/Pragmatica-LightOblique.eot");
  src: local("Pragmatica Light Oblique"), local("Pragmatica-LightOblique"), url("../fonts/Pragmatica-LightOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/Pragmatica-LightOblique.woff2") format("woff2"), url("../fonts/Pragmatica-LightOblique.woff") format("woff"), url("../fonts/Pragmatica-LightOblique.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Pragmatica Extended";
  src: url("../fonts/PragmaticaExtended-ExtraBoldObl.eot");
  src: local("Pragmatica Extended ExtraBold Oblique"), local("PragmaticaExtended-ExtraBoldObl"), url("../fonts/PragmaticaExtended-ExtraBoldObl.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaExtended-ExtraBoldObl.woff2") format("woff2"), url("../fonts/PragmaticaExtended-ExtraBoldObl.woff") format("woff"), url("../fonts/PragmaticaExtended-ExtraBoldObl.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Pragmatica";
  src: url("../fonts/Pragmatica-Bold.eot");
  src: local("Pragmatica Bold"), local("Pragmatica-Bold"), url("../fonts/Pragmatica-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Pragmatica-Bold.woff2") format("woff2"), url("../fonts/Pragmatica-Bold.woff") format("woff"), url("../fonts/Pragmatica-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica";
  src: url("../fonts/Pragmatica-BlackOblique.eot");
  src: local("Pragmatica Black Oblique"), local("Pragmatica-BlackOblique"), url("../fonts/Pragmatica-BlackOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/Pragmatica-BlackOblique.woff2") format("woff2"), url("../fonts/Pragmatica-BlackOblique.woff") format("woff"), url("../fonts/Pragmatica-BlackOblique.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Pragmatica Extended";
  src: url("../fonts/PragmaticaExtended-Bold.eot");
  src: local("Pragmatica Extended Bold"), local("PragmaticaExtended-Bold"), url("../fonts/PragmaticaExtended-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaExtended-Bold.woff2") format("woff2"), url("../fonts/PragmaticaExtended-Bold.woff") format("woff"), url("../fonts/PragmaticaExtended-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica";
  src: url("../fonts/Pragmatica-Black.eot");
  src: local("Pragmatica Black"), local("Pragmatica-Black"), url("../fonts/Pragmatica-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Pragmatica-Black.woff2") format("woff2"), url("../fonts/Pragmatica-Black.woff") format("woff"), url("../fonts/Pragmatica-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica Cond";
  src: url("../fonts/PragmaticaCond-ExtraBoldOblique.eot");
  src: local("Pragmatica Cond ExtraBold Oblique"), local("PragmaticaCond-ExtraBoldOblique"), url("../fonts/PragmaticaCond-ExtraBoldOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaCond-ExtraBoldOblique.woff2") format("woff2"), url("../fonts/PragmaticaCond-ExtraBoldOblique.woff") format("woff"), url("../fonts/PragmaticaCond-ExtraBoldOblique.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Pragmatica Cond";
  src: url("../fonts/PragmaticaCond-MediumOblique.eot");
  src: local("Pragmatica Cond Medium Oblique"), local("PragmaticaCond-MediumOblique"), url("../fonts/PragmaticaCond-MediumOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaCond-MediumOblique.woff2") format("woff2"), url("../fonts/PragmaticaCond-MediumOblique.woff") format("woff"), url("../fonts/PragmaticaCond-MediumOblique.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Pragmatica";
  src: url("../fonts/Pragmatica-Medium.eot");
  src: local("Pragmatica Medium"), local("Pragmatica-Medium"), url("../fonts/Pragmatica-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Pragmatica-Medium.woff2") format("woff2"), url("../fonts/Pragmatica-Medium.woff") format("woff"), url("../fonts/Pragmatica-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica";
  src: url("../fonts/Pragmatica-BookOblique.eot");
  src: local("Pragmatica Book Oblique"), local("Pragmatica-BookOblique"), url("../fonts/Pragmatica-BookOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/Pragmatica-BookOblique.woff2") format("woff2"), url("../fonts/Pragmatica-BookOblique.woff") format("woff"), url("../fonts/Pragmatica-BookOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Pragmatica Cond";
  src: url("../fonts/PragmaticaCond-BoldOblique.eot");
  src: local("Pragmatica Cond Bold Oblique"), local("PragmaticaCond-BoldOblique"), url("../fonts/PragmaticaCond-BoldOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaCond-BoldOblique.woff2") format("woff2"), url("../fonts/PragmaticaCond-BoldOblique.woff") format("woff"), url("../fonts/PragmaticaCond-BoldOblique.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Pragmatica Cond";
  src: url("../fonts/PragmaticaCond-ExtraBold.eot");
  src: local("Pragmatica Cond ExtraBold"), local("PragmaticaCond-ExtraBold"), url("../fonts/PragmaticaCond-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaCond-ExtraBold.woff2") format("woff2"), url("../fonts/PragmaticaCond-ExtraBold.woff") format("woff"), url("../fonts/PragmaticaCond-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica Extended";
  src: url("../fonts/PragmaticaExtended-MediumObliqu.eot");
  src: local("Pragmatica Extended Medium Oblique"), local("PragmaticaExtended-MediumObliqu"), url("../fonts/PragmaticaExtended-MediumObliqu.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaExtended-MediumObliqu.woff2") format("woff2"), url("../fonts/PragmaticaExtended-MediumObliqu.woff") format("woff"), url("../fonts/PragmaticaExtended-MediumObliqu.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Pragmatica Cond";
  src: url("../fonts/PragmaticaCond-BookOblique.eot");
  src: local("Pragmatica Cond Book Oblique"), local("PragmaticaCond-BookOblique"), url("../fonts/PragmaticaCond-BookOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaCond-BookOblique.woff2") format("woff2"), url("../fonts/PragmaticaCond-BookOblique.woff") format("woff"), url("../fonts/PragmaticaCond-BookOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Pragmatica Extended";
  src: url("../fonts/PragmaticaExtended-ExtraLight.eot");
  src: local("Pragmatica Extended ExtraLight"), local("PragmaticaExtended-ExtraLight"), url("../fonts/PragmaticaExtended-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaExtended-ExtraLight.woff2") format("woff2"), url("../fonts/PragmaticaExtended-ExtraLight.woff") format("woff"), url("../fonts/PragmaticaExtended-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica";
  src: url("../fonts/Pragmatica-MediumOblique.eot");
  src: local("Pragmatica Medium Oblique"), local("Pragmatica-MediumOblique"), url("../fonts/Pragmatica-MediumOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/Pragmatica-MediumOblique.woff2") format("woff2"), url("../fonts/Pragmatica-MediumOblique.woff") format("woff"), url("../fonts/Pragmatica-MediumOblique.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Pragmatica";
  src: url("../fonts/Pragmatica-ExtraBold.eot");
  src: local("Pragmatica ExtraBold"), local("Pragmatica-ExtraBold"), url("../fonts/Pragmatica-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Pragmatica-ExtraBold.woff2") format("woff2"), url("../fonts/Pragmatica-ExtraBold.woff") format("woff"), url("../fonts/Pragmatica-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica Cond";
  src: url("../fonts/PragmaticaCond-ExtraLight.eot");
  src: local("Pragmatica Cond ExtraLight"), local("PragmaticaCond-ExtraLight"), url("../fonts/PragmaticaCond-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaCond-ExtraLight.woff2") format("woff2"), url("../fonts/PragmaticaCond-ExtraLight.woff") format("woff"), url("../fonts/PragmaticaCond-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica";
  src: url("../fonts/Pragmatica-Light.eot");
  src: local("Pragmatica Light"), local("Pragmatica-Light"), url("../fonts/Pragmatica-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Pragmatica-Light.woff2") format("woff2"), url("../fonts/Pragmatica-Light.woff") format("woff"), url("../fonts/Pragmatica-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica Extended";
  src: url("../fonts/PragmaticaExtended-ExtraLightOb.eot");
  src: local("Pragmatica Extended ExtraLight Oblique"), local("PragmaticaExtended-ExtraLightOb"), url("../fonts/PragmaticaExtended-ExtraLightOb.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaExtended-ExtraLightOb.woff2") format("woff2"), url("../fonts/PragmaticaExtended-ExtraLightOb.woff") format("woff"), url("../fonts/PragmaticaExtended-ExtraLightOb.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Pragmatica Cond";
  src: url("../fonts/PragmaticaCond-Light.eot");
  src: local("Pragmatica Cond Light"), local("PragmaticaCond-Light"), url("../fonts/PragmaticaCond-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaCond-Light.woff2") format("woff2"), url("../fonts/PragmaticaCond-Light.woff") format("woff"), url("../fonts/PragmaticaCond-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica Cond";
  src: url("../fonts/PragmaticaCond-BlackOblique.eot");
  src: local("Pragmatica Cond Black Oblique"), local("PragmaticaCond-BlackOblique"), url("../fonts/PragmaticaCond-BlackOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaCond-BlackOblique.woff2") format("woff2"), url("../fonts/PragmaticaCond-BlackOblique.woff") format("woff"), url("../fonts/PragmaticaCond-BlackOblique.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Pragmatica Cond";
  src: url("../fonts/PragmaticaCond-Bold.eot");
  src: local("Pragmatica Cond Bold"), local("PragmaticaCond-Bold"), url("../fonts/PragmaticaCond-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaCond-Bold.woff2") format("woff2"), url("../fonts/PragmaticaCond-Bold.woff") format("woff"), url("../fonts/PragmaticaCond-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica Cond";
  src: url("../fonts/PragmaticaCond-Black.eot");
  src: local("Pragmatica Cond Black"), local("PragmaticaCond-Black"), url("../fonts/PragmaticaCond-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaCond-Black.woff2") format("woff2"), url("../fonts/PragmaticaCond-Black.woff") format("woff"), url("../fonts/PragmaticaCond-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica Shadow";
  src: url("../fonts/PragmaticaShadow-Book.eot");
  src: local("Pragmatica Shadow Book"), local("PragmaticaShadow-Book"), url("../fonts/PragmaticaShadow-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaShadow-Book.woff2") format("woff2"), url("../fonts/PragmaticaShadow-Book.woff") format("woff"), url("../fonts/PragmaticaShadow-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica";
  src: url("../fonts/Pragmatica-BoldOblique.eot");
  src: local("Pragmatica Bold Oblique"), local("Pragmatica-BoldOblique"), url("../fonts/Pragmatica-BoldOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/Pragmatica-BoldOblique.woff2") format("woff2"), url("../fonts/Pragmatica-BoldOblique.woff") format("woff"), url("../fonts/Pragmatica-BoldOblique.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Pragmatica";
  src: url("../fonts/Pragmatica-Book.eot");
  src: local("Pragmatica Book"), local("Pragmatica-Book"), url("../fonts/Pragmatica-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Pragmatica-Book.woff2") format("woff2"), url("../fonts/Pragmatica-Book.woff") format("woff"), url("../fonts/Pragmatica-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica";
  src: url("../fonts/Pragmatica-ExtraLight.eot");
  src: local("Pragmatica ExtraLight"), local("Pragmatica-ExtraLight"), url("../fonts/Pragmatica-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Pragmatica-ExtraLight.woff2") format("woff2"), url("../fonts/Pragmatica-ExtraLight.woff") format("woff"), url("../fonts/Pragmatica-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Pragmatica Extended";
  src: url("../fonts/PragmaticaExtended-ExtraBold.eot");
  src: local("Pragmatica Extended ExtraBold"), local("PragmaticaExtended-ExtraBold"), url("../fonts/PragmaticaExtended-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PragmaticaExtended-ExtraBold.woff2") format("woff2"), url("../fonts/PragmaticaExtended-ExtraBold.woff") format("woff"), url("../fonts/PragmaticaExtended-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "TT Commons", sans-serif;
  font-size: 0.64vw;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: #171e2f;
  background-color: #ffffff;
  font-size: 3rem;
}

body.lock {
  overflow: hidden;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 120.4rem;
  margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 48em) {
  html {
    font-size: 5px;
    font-size: 1.5625vw;
    font-size: 1.2077294686vw;
    -webkit-text-size-adjust: none;
  }
  body {
    -webkit-text-size-adjust: none;
  }
  .container {
    padding: 0 4.8rem;
    width: 100%;
  }
  .container--sm {
    width: 100%;
  }
}
.header {
  padding-top: 3.9rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  width: 13.8rem;
  height: 2.8rem;
}
.header__logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30rem;
}
.header__nav-list li {
  font-size: 1.7rem;
  font-weight: 300;
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__nav-list li:hover {
  color: #7E779A;
}
.header__contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.7rem;
  font-weight: 400;
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__contact-item img {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1rem;
}
.header__contact-item:not(:last-child) {
  margin-right: 4.4rem;
}
.header__contact-item:hover {
  color: #7E779A;
}

.banner {
  position: relative;
  height: 70.2rem;
  margin-bottom: 11.5rem;
}
.banner > img {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20rem;
  padding-bottom: 4.5rem;
  height: 70.2rem;
}
.banner__text-block {
  position: relative;
  width: 79.5rem;
}
.banner__description {
  font-size: 1.8rem;
  font-weight: 400;
  color: #7E779A;
  margin-bottom: 1.6rem;
  font-family: "Pragmatica";
}
.banner__title {
  font-size: 6.4rem;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 2.5rem;
}
.banner__btn {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: linear-gradient(105.96deg, #3F0F72 13.07%, #791281 85.2%);
  border-radius: 9rem;
  padding: 2rem 4.4rem;
  width: 33.3rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: #FFFFFF;
}
.banner__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.banner__info img {
  width: 23.3rem;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.banner__info-key {
  font-size: 1.7rem;
  font-weight: 400;
  color: #FFFFFF;
}

.about {
  margin-bottom: 11.5rem;
}
.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__text-block {
  width: 57rem;
  margin-right: 3rem;
}
.about__title {
  font-size: 4.8rem;
  font-weight: 700;
  color: #333333;
  margin-bottom: 3.3rem;
}
.about__subtitle {
  font-size: 2rem;
  font-weight: 500;
  color: #333333;
  margin-bottom: 3rem;
  font-family: "Pragmatica";
}
.about__text {
  font-size: 1.6rem;
  font-weight: 400;
  color: #333333;
  font-family: "Pragmatica";
}
.about__text:not(:last-child) {
  margin-bottom: 2rem;
}
.about__text:last-child {
  margin-bottom: 3.7rem;
}
.about__photo-mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__photo-mini img {
  width: 27rem;
  height: 19.8rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.9rem;
}
.about__photo-block {
  width: 57rem;
  border-radius: 0.9rem;
}
.about__photo-block img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.services {
  background-color: #F6F4F9;
  padding: 11.5rem 0;
  margin-bottom: 11.5rem;
}
.services__title {
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700;
  color: #333333;
  margin-bottom: 1.4rem;
}
.services__subtitle {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  color: #333333;
  margin-bottom: 4.4rem;
  font-family: "Pragmatica";
}
.services__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
}
.services__item {
  background: #FFFFFF;
  border-radius: 0.9rem;
  padding: 2.7rem 1.8rem 2.7rem 2.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services__item-img {
  width: 6.6rem;
  height: 6.6rem;
  border-radius: 50%;
  background: linear-gradient(105.96deg, #3F0F72 13.07%, #791281 85.2%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1.7rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.services__item-img img {
  width: 3.7rem;
  height: 3.7rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.services__item-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #333333;
  font-family: "Pragmatica";
}

.publications {
  padding-top: 11.5rem;
  margin-bottom: 11.5rem;
  position: relative;
}
.publications__inner {
  position: relative;
}
.publications__title {
  font-size: 4.8rem;
  font-weight: 700;
  color: rgb(51, 51, 51);
  margin-bottom: 1.3rem;
  text-align: center;
}
.publications__subtitle {
  font-size: 1.8rem;
  font-weight: 300;
  color: rgb(119, 119, 119);
  margin-bottom: 4rem;
  text-align: center;
  font-family: "Pragmatica";
}
.publications__slider {
  overflow: hidden;
}
.publications__slide {
  background: #F6F4F9;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}
.publications__slide-img {
  width: 100%;
  height: 26.2rem;
  border-radius: 0.9rem 0.9rem 0 0;
  margin-bottom: 2.7rem;
}
.publications__slide-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}
.publications__slide-text {
  padding: 0 1.9rem 1.5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.publications__slide-title {
  font-size: 2.2rem;
  font-weight: 600;
  color: rgb(51, 51, 51);
  margin-bottom: 1.1rem;
}
.publications__slide-subtitle {
  font-size: 1.6rem;
  font-weight: 300;
  color: rgb(119, 119, 119);
  margin-bottom: 2.6rem;
  font-family: "Pragmatica";
}
.publications__slide-bottom {
  padding-top: 2rem;
  border-top: 0.1rem solid rgb(234, 232, 236);
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.publications__slide-logo {
  width: 10rem;
  height: 2rem;
}
.publications__slide-logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.publications__slide-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.publications__slide-date img {
  width: 1.6rem;
  height: 1.6rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 0.7rem;
}
.publications__slide-date span {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(196, 196, 196);
}
.publications .slider-arrow-prev {
  width: 4.9rem;
  height: 4.9rem;
  border-radius: 50%;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
  position: absolute;
  top: 50%;
  left: -2.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
}
.publications .slider-arrow-prev svg {
  width: 1.8rem;
  height: 1.8rem;
  stroke: rgb(211, 208, 214);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.publications .slider-arrow-prev:hover svg {
  stroke: #791281;
}
.publications .slider-arrow-next {
  width: 4.9rem;
  height: 4.9rem;
  border-radius: 50%;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
  position: absolute;
  top: 50%;
  right: -2.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
}
.publications .slider-arrow-next svg {
  width: 1.8rem;
  height: 1.8rem;
  stroke: rgb(211, 208, 214);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.publications .slider-arrow-next:hover svg {
  stroke: #791281;
}

.footer {
  position: relative;
  padding: 11.3rem 0 0 9rem;
}
.footer > img {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 8.7rem;
}
.footer__left {
  width: 40.8rem;
  margin-right: 9.2rem;
}
.footer__title {
  font-size: 4.8rem;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 1.8rem;
}
.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 67rem;
  color: #ffffff;
}
.footer__subtitle {
  font-size: 1.8rem;
  font-weight: 400;
  color: rgb(126, 119, 154);
  margin-bottom: 8.6rem;
  font-family: "Pragmatica";
}
.footer__contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  width: 2rem;
  margin-right: 2.8rem;
  margin-top: auto;
}
.footer__social-item {
  font-size: 1.6rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__social-item:not(:last-child) {
  margin-right: 2.8rem;
  position: relative;
}
.footer__social-item:not(:last-child)::before {
  content: " ";
  width: 0.5rem;
  height: 0.5rem;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -1.4rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.footer__social-item:hover {
  color: rgb(126, 119, 154);
}
.footer__contact-item:not(:last-child) {
  margin-bottom: 2.2rem;
}
.footer__contect-item-key {
  font-size: 1.4rem;
  font-weight: 300;
  color: rgb(126, 119, 154);
  font-family: "Pragmatica";
}
.footer__contact-item-value {
  font-size: 2.2rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3.9rem 0 4.2rem 0;
  border-top: 0.1rem solid rgb(255, 255, 255);
}
.footer__logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__logo-item {
  width: 3.7rem;
  height: 2.4rem;
  cursor: pointer;
}
.footer__logo-item svg {
  width: 100%;
  height: 100%;
  fill: #545472;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.footer__logo-item svg:hover {
  fill: #ffffff;
}
.footer__logo-item:not(:last-child) {
  margin-right: 1.6rem;
}
.footer__bottom-info {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(126, 119, 154);
}

.form__label {
  display: block;
  margin-bottom: 2rem;
}
.form__label input {
  background: rgba(7, 11, 47, 0.07);
  border: 0.2rem solid #473E69;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #7E779A;
  width: 100%;
  height: 5.2rem;
  padding: 0 2rem;
  font-family: "Pragmatica";
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.form__label input.error {
  border: 1px solid red;
}
.form__label input:focus-within {
  color: #ffffff;
}
.form .out {
  font-size: 2rem;
  color: rgb(177, 22, 22);
}
.form textarea {
  font-family: "Pragmatica";
  background: rgba(7, 11, 47, 0.07);
  border: 2px solid #473E69;
  border-radius: 4px;
  padding: 1.9rem 2rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #7E779A;
  width: 100%;
  height: 16.3rem;
  overflow-y: auto;
  resize: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.form textarea:focus-within {
  color: #ffffff;
}
.form__label-title {
  color: #807D8D;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 0;
  font-family: "Pragmatica";
}
.form__label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Pragmatica";
  font-size: 1.5rem;
  font-weight: 300;
  color: #FFFFFF;
  margin-bottom: 1rem;
  position: relative;
  padding-left: 4rem;
}
.form__label-checkbox input {
  position: absolute;
  left: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.form__label-checkbox input:checked + .checkbox-style::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.3rem;
  background-image: url(./../img/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.3rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.form__label-checkbox .checkbox-style {
  position: absolute;
  left: 0;
  border: 2px solid #473E69;
  border-radius: 0.4rem;
  width: 2.2rem;
  height: 2.2rem;
}
.form__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3.1rem;
}
.form__bottom-politica {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(126, 119, 154);
  font-family: "Pragmatica";
}
.form__bottom-politica a {
  text-decoration: underline;
}
.form button {
  background: linear-gradient(99.43deg, #3F0F72 4.21%, #791180 108.65%);
  border-radius: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 22.6rem;
  padding: 2rem 1rem 1.8rem 1rem;
  position: relative;
}
.form button::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #190c4c;
  border-radius: 5rem;
}
.form button span {
  position: relative;
  z-index: 1;
  font-size: 1.4rem;
  font-weight: 600;
  color: #FFFFFF;
  text-transform: uppercase;
}

.popup {
  width: 53.9rem;
  padding: 5.5rem 4.4rem 3.7rem 4.4rem;
  font-size: 3rem;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0.4rem 3.5rem rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0.4rem 3.5rem rgba(0, 0, 0, 0.08);
  border-radius: 4rem;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  margin: auto;
  visibility: hidden;
  opacity: 0;
  height: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popup.active {
  visibility: visible;
  opacity: 1;
  height: 20rem;
}
.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6rem;
}

.mobile {
  display: none;
}

@media (max-width: 48em) {
  .mobile {
    display: block;
  }
  .desctop {
    display: none;
  }
  .header__burger-btn {
    height: 5.4rem;
    width: 5rem;
    -o-object-fit: contain;
       object-fit: contain;
    background: url(./../img/burger-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .header__burger-btn.active {
    position: absolute;
    top: 4rem;
    left: 5rem;
    background: url(./../img/close.svg);
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 100;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    width: 25rem;
    height: 5rem;
  }
  .header__nav {
    padding: 12rem 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50vh;
    min-height: 50rem;
    position: absolute;
    background: #FAFBFC;
    -webkit-box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.11);
            box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.11);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    overflow-y: scroll;
  }
  .header__nav.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    width: 100%;
  }
  .header__nav ul li {
    font-size: 4.2rem;
    font-weight: 500;
    color: rgb(48, 48, 48);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .header__nav ul li:not(:last-child) {
    margin-right: 0rem;
    margin-bottom: 2.4rem;
  }
  .header__nav ul li.active::before {
    content: none;
  }
  .header__contact-item img {
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 2rem;
  }
  .banner {
    height: 100rem;
    margin-bottom: 15rem;
  }
  .banner__inner {
    padding-top: 20rem;
    height: 100rem;
  }
  .banner__text-block {
    width: 100%;
  }
  .banner__description {
    font-size: 4.2rem;
    margin-bottom: 2.5rem;
  }
  .banner__title {
    font-size: 6rem;
    margin-bottom: 5rem;
  }
  .banner__btn {
    border-radius: 18rem;
    width: 50rem;
    height: 10rem;
    font-size: 3rem;
  }
  .banner__info img {
    width: 40rem;
  }
  .banner__info-key {
    font-size: 3.4rem;
  }
  .about {
    margin-bottom: 15rem;
  }
  .about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__text-block {
    width: 100%;
    margin-right: 0rem;
  }
  .about__title {
    font-size: 4.8rem;
    margin-bottom: 3.5rem;
  }
  .about__subtitle {
    font-size: 2.8rem;
  }
  .about__text {
    font-size: 2.6rem;
  }
  .about__text:not(:last-child) {
    margin-bottom: 2rem;
  }
  .about__text:last-child {
    margin-bottom: 3.7rem;
  }
  .about__photo-mini {
    margin-bottom: 3rem;
  }
  .about__photo-mini img {
    width: 48%;
    height: 30rem;
    border-radius: 1.8rem;
  }
  .about__photo-block {
    width: 100%;
    border-radius: 1.8rem;
  }
  .services__title {
    font-size: 4.8rem;
    margin-bottom: 2rem;
  }
  .services__subtitle {
    font-size: 2.8rem;
  }
  .services__content {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
  .services__item {
    border-radius: 0.9rem;
    padding: 2rem 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services__item-img {
    width: 8rem;
    height: 8rem;
    margin-right: 0;
    margin-bottom: 3rem;
  }
  .services__item-img img {
    width: 4rem;
    height: 4rem;
  }
  .services__item-title {
    font-size: 2.8rem;
    text-align: center;
  }
  .publications {
    padding-top: 15rem;
    margin-bottom: 15rem;
  }
  .publications__title {
    font-size: 4.8rem;
    margin-bottom: 2rem;
  }
  .publications__subtitle {
    font-size: 3.6rem;
    margin-bottom: 6rem;
  }
  .publications__slide {
    border-radius: 2rem;
  }
  .publications__slide-img {
    width: 100%;
    height: 40rem;
    margin-bottom: 3.5rem;
  }
  .publications__slide-text {
    padding: 0 2.5rem 3rem 2.5rem;
  }
  .publications__slide-title {
    font-size: 3.2rem;
    margin-bottom: 2rem;
  }
  .publications__slide-subtitle {
    font-size: 2.8rem;
  }
  .publications__slide-bottom {
    padding-top: 3rem;
  }
  .publications__slide-logo {
    width: 15rem;
    height: 3rem;
  }
  .publications__slide-date img {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
  }
  .publications__slide-date span {
    font-size: 2.6rem;
  }
  .publications .slider-arrow-prev {
    width: 8rem;
    height: 8rem;
  }
  .publications .slider-arrow-prev svg {
    width: 2.5rem;
    height: 2.5rem;
  }
  .publications .slider-arrow-next {
    width: 8rem;
    height: 8rem;
  }
  .publications .slider-arrow-next svg {
    width: 2.5rem;
    height: 2.5rem;
  }
  .footer {
    padding: 11.3rem 0 0 0rem;
  }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer__left {
    width: 100%;
    margin-right: 0;
  }
  .footer__title {
    font-size: 5.2rem;
  }
  .footer__form {
    width: 100%;
  }
  .footer__subtitle {
    font-size: 3.6rem;
  }
  .footer__social {
    width: 4rem;
    margin-right: 2.8rem;
  }
  .footer__social-item {
    font-size: 3.2rem;
  }
  .footer__social-item::before {
    width: 1rem;
    height: 1rem;
  }
  .footer__contact-item:not(:last-child) {
    margin-bottom: 4rem;
  }
  .footer__contect-item-key {
    font-size: 4.6rem;
  }
  .footer__contact-item-value {
    font-size: 4.4rem;
  }
  .footer__bottom {
    padding: 7rem 0 7rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__logo-wrap {
    margin-bottom: 2rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__logo-item {
    width: 10rem;
    height: 6rem;
    margin-bottom: 2rem;
  }
  .footer__logo-item:not(:last-child) {
    margin-right: 1.6rem;
  }
  .footer__bottom-info {
    font-size: 3rem;
  }
  .footer__bottom-info:not(:last-child) {
    margin-bottom: 2rem;
  }
  .form {
    margin-bottom: 8rem;
  }
  .form__label {
    display: block;
    margin-bottom: 2rem;
  }
  .form__label input {
    font-size: 3.2rem;
    height: 7rem;
  }
  .form textarea {
    font-size: 3.2rem;
    height: 30rem;
    margin-bottom: 3rem;
  }
  .form__label-title {
    font-size: 2.4rem;
  }
  .form__label-checkbox {
    font-size: 3rem;
    margin-bottom: 4rem;
    padding-left: 8rem;
  }
  .form__label-checkbox input:checked + .checkbox-style::before {
    width: 5rem;
    height: 5rem;
    background-size: 2.6rem;
  }
  .form__label-checkbox .checkbox-style {
    width: 5rem;
    height: 5rem;
  }
  .form__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__bottom-politica {
    font-size: 2.4rem;
    margin-bottom: 4rem;
  }
  .form button {
    width: 100%;
    padding: 3rem 1rem 2.8rem 1rem;
  }
  .form button span {
    font-size: 2.8rem;
  }
  .form .out {
    font-size: 3.2rem;
  }
  .popup {
    width: 80rem;
    font-size: 4rem;
  }
}/*# sourceMappingURL=style.css.map */