@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-Black.ttf');
}
@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-BlackOblique.ttf');
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-Bold.ttf');
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-BoldOblique.ttf');
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-Book.ttf');
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-BookOblique.ttf');
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-ExtraBold.ttf');
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-ExtraBoldOblique.ttf');
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-ExtraLight.ttf');
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-ExtraLightOblique.ttf');
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-Light.ttf');
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-LightOblique.ttf');
}









