.mobile {
    display: none;
}

@media (max-width: 48em) {
    .mobile {
        display: block;
    }

    .desctop {
        display: none;
    }

    .header {

        &__burger-btn {
            height: 5.4rem;
            width: 5rem;
            object-fit: contain;
            background: url(./../img/burger-icon.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;


            &.active {
                position: absolute;
                top: 4rem;
                left: 5rem;
                background: url(./../img/close.svg);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 100;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }

        &__logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 0%);
            width: 25rem;
            height: 5rem;
        }

        &__nav {
            padding: 12rem 5rem;
            display: flex;
            height: 50vh;
            min-height: 50rem;

            position: absolute;
            background: #FAFBFC;
            box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.11);
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 50;
            transform: translateX(-120%);
            transition: 0.4s;
            overflow-y: scroll;

            &.active {
                transform: translateX(0);
            }

            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: auto;
                width: 100%;

                li {
                    font-size: 4.2rem;
                    font-weight: 500;
                    color: rgba(48, 48, 48, 1);
                    display: flex;
                    height: 100%;
                    align-items: center;
                    position: relative;

                    &:not(:last-child) {
                        margin-right: 0rem;
                        margin-bottom: 2.4rem;
                    }

                    &.active {
                        &::before {
                            content: none;
                        }
                    }
                }
            }
        }

        &__contact-item {
            img {
                width: 3.2rem;
                height: 3.2rem;
                margin-right: 2rem;
            }
        }
    }

    .banner {
        height: 100rem;
        margin-bottom: 15rem;

        &__inner {
            padding-top: 20rem;
            height: 100rem;
        }

        &__text-block {
            width: 100%;
        }

        &__description {
            font-size: 4.2rem;
            margin-bottom: 2.5rem;
        }

        &__title {
            font-size: 6rem;
            margin-bottom: 5rem;
        }

        &__btn {
            border-radius: 18rem;
            width: 50rem;
            height: 10rem;
            font-size: 3rem;
        }

        &__info {

            img {
                width: 40rem;
            }
        }

        &__info-key {
            font-size: 3.4rem;
        }
    }

    .about {
        margin-bottom: 15rem;

        &__inner {
            flex-direction: column;
        }

        &__text-block {
            width: 100%;
            margin-right: 0rem;
        }

        &__title {
            font-size: 4.8rem;
            margin-bottom: 3.5rem;
        }

        &__subtitle {
            font-size: 2.8rem;
        }

        &__text {
            font-size: 2.6rem;

            &:not(:last-child) {
                margin-bottom: 2rem;
            }

            &:last-child {
                margin-bottom: 3.7rem;
            }
        }

        &__photo-mini {
            margin-bottom: 3rem;

            img {
                width: 48%;
                height: 30rem;
                border-radius: 1.8rem;
            }
        }

        &__photo-block {
            width: 100%;
            border-radius: 1.8rem;
        }
    }

    .services {

        &__title {
            font-size: 4.8rem;
            margin-bottom: 2rem;
        }

        &__subtitle {
            font-size: 2.8rem;
        }

        &__content {
            grid-template-columns: 1fr 1fr;
            gap: 4rem;
        }

        &__item {
            border-radius: 0.9rem;
            padding: 2rem 1rem;
            flex-direction: column;
        }

        &__item-img {
            width: 8rem;
            height: 8rem;
            margin-right: 0;
            margin-bottom: 3rem;

            img {
                width: 4rem;
                height: 4rem;
            }
        }

        &__item-title {
            font-size: 2.8rem;
            text-align: center;
        }
    }

    .publications {
        padding-top: 15rem;
        margin-bottom: 15rem;

        &__title {
            font-size: 4.8rem;
            margin-bottom: 2rem;
        }

        &__subtitle {
            font-size: 3.6rem;
            margin-bottom: 6rem;
        }

        &__slide {
            border-radius: 2rem;
        }

        &__slide-img {
            width: 100%;
            height: 40rem;
            margin-bottom: 3.5rem;
        }

        &__slide-text {
            padding: 0 2.5rem 3rem 2.5rem;
        }

        &__slide-title {
            font-size: 3.2rem;
            margin-bottom: 2rem;
        }

        &__slide-subtitle {
            font-size: 2.8rem;
        }

        &__slide-bottom {
            padding-top: 3rem;
        }

        &__slide-logo {
            width: 15rem;
            height: 3rem;
        }

        &__slide-date {

            img {
                width: 3rem;
                height: 3rem;
                margin-right: 1rem;
            }

            span {
                font-size: 2.6rem;
            }

        }

        .slider-arrow-prev {
            width: 8rem;
            height: 8rem;

            svg {
                width: 2.5rem;
                height: 2.5rem;
            }
        }

        .slider-arrow-next {
            width: 8rem;
            height: 8rem;

            svg {
                width: 2.5rem;
                height: 2.5rem;
            }
        }
    }

    .footer {
        padding: 11.3rem 0 0 0rem;

        &__inner {
            flex-direction: column-reverse;
        }

        &__left {
            width: 100%;
            margin-right: 0;
        }

        &__title {
            font-size: 5.2rem;
        }

        &__form {
            width: 100%;
        }

        &__subtitle {
            font-size: 3.6rem;
        }

        &__social {
            width: 4rem;
            margin-right: 2.8rem;
        }

        &__social-item {
            font-size: 3.2rem;

            &::before {
                width: 1rem;
                height: 1rem;
            }
        }

        &__contact-item {
            &:not(:last-child) {
                margin-bottom: 4rem;
            }
        }

        &__contect-item-key {
            font-size: 4.6rem;
        }

        &__contact-item-value {
            font-size: 4.4rem;
        }

        &__bottom {
            padding: 7rem 0 7rem 0;
            flex-direction: column;
        }

        &__logo-wrap {
            margin-bottom: 2rem;
            flex-wrap: wrap;
        }

        &__logo-item {
            width: 10rem;
            height: 6rem;
            margin-bottom: 2rem;

            &:not(:last-child) {
                margin-right: 1.6rem;
            }
        }

        &__bottom-info {
            font-size: 3rem;

            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
    }

    .form {
        margin-bottom: 8rem;

        &__label {
            display: block;
            margin-bottom: 2rem;

            input {
                font-size: 3.2rem;
                height: 7rem;
            }
        }

        textarea {
            font-size: 3.2rem;
            height: 30rem;
            margin-bottom: 3rem;
        }

        &__label-title {
            font-size: 2.4rem;
        }

        &__label-checkbox {
            font-size: 3rem;
            margin-bottom: 4rem;
            padding-left: 8rem;

            input {

                &:checked+.checkbox-style::before {
                    width: 5rem;
                    height: 5rem;
                    background-size: 2.6rem;
                }
            }

            .checkbox-style {
                width: 5rem;
                height: 5rem;
            }
        }

        &__bottom {
            flex-direction: column;
        }

        &__bottom-politica {
            font-size: 2.4rem;
            margin-bottom: 4rem;
        }

        button {

            width: 100%;
            padding: 3rem 1rem 2.8rem 1rem;

            span {
                font-size: 2.8rem;
            }
        }

        .out {
            font-size: 3.2rem;
        }
    }

    .popup {
        width: 80rem;
        font-size: 4rem;
    }
}